<div id="<%= dom_id bug %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong>
      <%= bug.title %>
    </h5>

    <p class="card-text">
      <strong>Description:</strong>
      <%= bug.description %>
    </p>

    <p class="card-text">
      <strong>Deadline:</strong>
      <%= bug.deadline %>
    </p>

    <p class="card-text">
      <strong>Type:</strong>
      <%= bug.type %>
    </p>

    <p class="card-text">
      <strong>Status:</strong>
      <%= bug.status %>
    </p>

    <% if bug.screenshot.present? %>
      <p class="card-text">
        <strong>Screenshot:</strong>
        <%= link_to image_tag(bug.screenshot.url, style: "width: 300px; height: 300px;"),
        bug.screenshot.url, target: "_blank", class: "card-img-top" %>
      </p>
    <% else %>
      <p class="card-text">
        <strong>Screenshot:</strong>
        This bug does not have a screenshot.
      </p>
    <% end %>
    <p class="card-text">
      <strong>Solver:</strong>
      <%= bug.solver.name %>
    </p>
  </div>
</div>
