<h1>Bugs</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
  <%if current_user.user_type =="QA"%>
  <%= link_to 'New Bug', new_project_bug_path, class: "btn btn-secondary" %>
  <%else%>
  <%end%>
  <%= link_to "Back project", @project, class: "btn btn-secondary" %> 
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="thead-light">
      <th>Title</th>
      <th>Type</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.type %></td>
        <td><%= bug.status %></td>
        <td><%= bug.deadline %></td>
        <td>
          <%= link_to 'Show', project_bug_path(@project,bug), class: "btn btn-info btn-lg" %>
          <%= link_to 'Edit', edit_project_bug_path(@project,bug), class: "btn btn-secondary btn-lg" %>
          <%= link_to 'Destroy', project_bug_path(@project,bug), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
